# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
.env

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore node_modules
node_modules/

# Ignore build files
build/
dist/

# Other
*.md